<div id="SiteMap" data-ng-controller="ReleaseNoteCtrl" ng-init=init()>
	<Section class="pageheader">
		<nav class="mainnav">
			<ul class="leftFloat" id="list-nav">
				<li><a href="#" class="highlight_purple not_active">Site
						Map</a></li>
				<li><span class="glyphicon glyphicon-play newShowGlyphicon"></span></li>
				<li><a>Refresh</a></li>
			</ul>
			<ul class="rightFloat_Menu">
				<li>
					<button type="button" class="btn btn_ToBeDone">To be done</button>
				</li>
			</ul>
		</nav>
	</Section>
	<nav class="navbar navbar-default navbar_master">
		<div class="container">
			<ul class="nav navbar-nav master_nav_element_pos">
				<li><a href="#ReleaseNote">Release Notes</a></li>
				<li><a href="#FAQs">FAQs</a></li>
				<li><a href="#KnownIssues">Known Issues</a></li>
				<li class="active"><a href="#SiteMap">Site Map</a></li>
				<li><a href="#AboutUs">About Us</a></li>
				<li><a href="#ContactUs">Contact Us</a></li>
			</ul>
		</div>
	</nav>
	<article class="sitemapBG"
		style="background-image: url('images/about_us/stock-vector-abstract-technology-lines-vector-background-eps-62508946_1stBG2.5.png');">
		<section class="container">
			<div class="row container">
				<h5>
					<span class="submenuBlue_heading">Site Map</span>
				</h5>
				<hr class="horizontal_line">
			</div>
		</section>
		<div class="row fieldsBot_Spacing container">
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Sales</strong>
						<ul class="sitemap_listPos">
							<li><a href="#sales" class="sitemap_link">Create or
									Modify Invoice</a></li>
							<li><a href="#sales" class="sitemap_link">Create or
									Modify Challan</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Stock Management</strong>
						<ul class="sitemap_listPos">
							<li><a href="#purchase" class="sitemap_link">Create or
									Modify PO</a></li>
							<li><a href="#goodsReciept" class="sitemap_link">Good
									Receipt</a></li>
							<li><a href="#stockMangaer" class="sitemap_link">Stock
									Manager</a>
								<ul class="sitemap_listPos">
									<li><a href="#stockMangaer" class="sitemap_link">Batch
											Scheme</a></li>
									<li><a href="#stockMangaer" class="sitemap_link">Change
											Batch Details</a></li>
									<li><a href="#stockMangaer" class="sitemap_link">Stock
											Adjustments</a></li>
									<li><a href="#stockMangaer" class="sitemap_link">Transfer/Merge
											Batch</a></li>
									<li><a href="#stockMangaer" class="sitemap_link">Reassign
											Product(s)</a></li>
								</ul></li>
						</ul></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Returns Management</strong>
						<ul class="sitemap_listPos">
							<li><a href="#returnregister" class="sitemap_link">Returns
									Register</a></li>
							<li><a href="#goodsreturn" class="sitemap_link">Goods
									Return</a></li>
							<li><a href="#CompanyClaim" class="sitemap_link">Company
									Claim</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<div class="row fieldsBot_Spacing container">
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Accounting</strong></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Utility</strong>
						<ul class="sitemap_listPos">
							<li><a href="#utilityLocksmith" class="sitemap_link">Locksmith</a></li>
							<li><a href="#ContactManager" class="sitemap_link">People
									Manager</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Reporting Center</strong>
						<ul class="sitemap_listPos">
							<li><a href="#ReportManager" class="sitemap_link">Reporting
									Manager</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
		<div class="row fieldsBot_Spacing container">
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Masters</strong>
						<ul class="sitemap_listPos">
							<li><a href="#masterCompany" class="sitemap_link">Company</a></li>
							<li><a href="#masterSupplier" class="sitemap_link">Supplier</a></li>
							<li><a href="#masterDivision" class="sitemap_link">Division</a></li>
							<li><a href="#masterProduct" class="sitemap_link">Product</a></li>
							<li><a href="#masterContent" class="sitemap_link">Content</a></li>
							<li><a href="#masterCustomer" class="sitemap_link">Customer</a></li>
							<li><a href="#masterArea" class="sitemap_link">Area</a></li>
							<li><a href="#masterRoute" class="sitemap_link">Route</a></li>
							<li><a href="#masterTaxCode" class="sitemap_link">Tax
									Codes</a></li>
							<li><a href="#debitCreditNoteReasons" class="sitemap_link">Debit
									Credit Note Reasons</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Bookmarks</strong>
						<ul class="sitemap_listPos">
							<li><a class="sitemap_link">Bookmarks Manager</a></li>
							<li><a href="#purchase" class="sitemap_link">Create or
									Modify PO</a></li>
							<li><a href="#masterCompany" class="sitemap_link">Company</a></li>
							<li><a href="#masterCustomer" class="sitemap_link">Customer</a></li>
							<li><a href="#masterProduct" class="sitemap_link">Product</a></li>
						</ul></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="thumbnail_OrderListPos">
					<li><strong>Help</strong>
						<ul class="sitemap_listPos">
							<li><a class="sitemap_link">Help</a></li>
							<li><a href="#AboutUs" class="sitemap_link">About</a>
								<ul class="sitemap_listPos">
									<li><a href="#ReleaseNote" class="sitemap_link">Release
											Notes</a></li>
									<li><a href="#FAQs" class="sitemap_link">FAQs</a></li>
									<li><a href="#KnownIssues" class="sitemap_link">Known
											Issues</a></li>
									<li><a href="#SiteMap" class="sitemap_link">Site Map</a></li>
									<li><a href="#AboutUs" class="sitemap_link">About Us</a></li>
									<li><a href="#ContactUs" class="sitemap_link">Contact
											Us</a></li>
								</ul></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</article>
</div>