										
        	<div class="container">
        		<h2 class="loginUserPos">Welcome To Purpleaid!</h2>
        		<p class="loginUsertextPos">Purpleaid wholesale is an amazing software for pharma wholesalers. It complies to business statutory requirements and also enhances data entry, monitoring, inventory management with simple yet powerful screens & process automation. Purpleaid wholesale is an amazing software for pharma wholesalers. It complies to business statutory requirements and also enhances data entry, monitoring, inventory management with simple yet powerful screens & process automation.</p>
        		<div class="row">
        			<div class="col-md-4">
        				<img src="images/portfolio-4/portfolio-4-columns-img-1.png">
        			</div>
        			<div class="col-md-4">
        				<img src="images/portfolio-4/portfolio-4-columns-img-2.png">
        			</div>
        			<div class="col-md-4">
        				<img src="images/portfolio-4/portfolio-4-columns-img-3.png">
        			</div>
        		</div>
        		<div class="row">
        			<div class="col-md-4">
        				<p class="">Smart Inventory</p>
						<h1>Manage Inventory and Returns</h1>
						<p>Optimize stock holding by analysing sales forecast, delivery lead times. Process returns more efficiently. Manage SKU journey from inward, sales to returns. Get alerts and notifications for expiry. Hold SKU sales and a lot more.</p>
        			</div>
        			<div class="col-md-4">
        				<p class="">BI Dashboard</p>
							<h1>Analyse Key Performance Indicators</h1>
							<p>This is the most significant feature allowing you to convert data into knowledge into wisdom. View various trends and patterns pertaining to all facets of your business viz. Sales velocity, returns, Collections, Staff Ranking, Client (pharmacist) ranking and a whole lote more.</p>
						</div>
        			<div class="col-md-4">
        				<p class="">Mobility</p>
							<h1>Empower your sales/collection force</h1>
							<p>Use Mobile App to take orders from clients, manage collections. Get alerts and notifications for clients to be focused. View targets and gap. Compare your performance. See client profile, schemes trailered to clients.</p>
						</div>
        		</div>  
        		<div class="row">
        			<div class="col-md-4">
        				<img src="images/portfolio-4/portfolio-4-columns-img-4.png">
        			</div>
        			<div class="col-md-4">
        				<img src="images/portfolio-4/portfolio-4-columns-img-5.png">
        			</div>
        			<div class="col-md-4">
        				<img src="images/portfolio-4/portfolio-4-columns-img-6.png">
        			</div>
        		</div>  
        		<div class="row">
        			<div class="col-md-4">
        			<p class="">Sales Staff Tracking</p>
							<h1>Track and monitor your sales staff</h1>
							<p>Get detailed insights on whereabouts of your sales personnel. Check their performance trends and rank. Set goals and rewards to motivate the team.</p>
						</div>
        			<div class="col-md-4">
        			<p class="">Accounting</p>
							<h1>Balances, Transactions, Summaries </h1>
							<p>Know everything, see everything, use everything. The simple to use software keeps track of everything that happens in your organisation. Simply push the data to Tally and file your returns. For everything else there is Purpleaid.</p>
						</div>
        			<div class="col-md-4">
        			<p class="">Pharma Link</p>
							<h1>Publish order/sales data to people you select</h1>
							<p>Easily share/export sales data to respective company/division or their Market Representatives. They can also login to your system using their id and see only what is meant for their eyes. Publish data electronically. Also can send periodic update to AIOCD</p>
						</div>
        			
        		</div>          	
        	</div>

	

